* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Mono', monospace;
}

header {
    background-color: black;
    padding: 20px 0;
    border-bottom: 1px solid rgb(55, 55, 55);
}

section.main {
    background-image: url('Fundo\ de\ tela\ montanha\ nevada.jpg');
   
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

.logo {
    height: 0;
    color: whitesmoke;
    width: 80%;
    text-align: left;
}

.logo h2 {
    font-weight: normal;
    display: flex;
    font-size: 22px;
    margin: 0;
    text-transform: uppercase;
    padding: 0;;
}

.menu {
    width: 80%;
    text-align: right;
    margin-left: 340px;
}

.menu a{
    color: whitesmoke;
    font-size: 14px;
    text-decoration: none;
    margin-right: 5px;
    transition: 0.2s;
}

.menu .btn-menu {
    background-color: rgb(119, 0, 255);
    border-radius: 10px;
    padding: 8px 16px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
}

.meio {
    padding: 5% 10%;
    text-align: center;
    /*background-color: aquamarine;*/
}

.text h3 {
    margin: 0 150px;
    font-size: 18px;
    text-align: left;
}

.text h1 {
    width: 100%;
    font-size: xxx-large;
}

.btn-text {
    border-radius: 20px;
    background-color:rgb(119, 0, 255);
    text-decoration: none;
    padding: 3px 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
}

section.com {
    background-color: black;
}

.conquistas{
    display: flex;
    flex-wrap: wrap;
}

.conquistas-single{
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
    border-radius: 10px;
    
}

.conquistas-single i{
    color: rgb(119, 0, 255);
    font-size: 35px;
    margin:0 50px 15px ;
}

.conquistas-single h2 {
    color: whitesmoke;
    margin: 10px 0;
    font-size: 17px;
}

.conquistas-single p {
    color: gray;
    font-size: 14px;
    line-height: 30px;
}

aside.us {
    background-image: linear-gradient( 112.1deg,  rgb(22, 23, 28) 11.4%, rgb(40, 50, 65) 70.2% );
    padding: 10px;
}

.about {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.about h2 {
    width: 100%;
    font-size: 55px;
    color: rgba(255, 255, 255, 0.871);
}

.about-btn {
    width: 80%;
    margin: 25px 105px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.about-btn a {
    width: 130px;
    padding: 9px ;
    text-align: center;
    text-decoration: none;
    background-color: rgb(119, 0, 255);
    text-transform: uppercase;
    cursor: pointer;
    color: white;
}

.about-btn p {
    margin-left: 20px;
    text-align: center;
    color: rgba(245, 245, 245, 0.768);
}

.about-text {
    width: 100%;
    align-items: center;
}

.about-text p {
    color: rgba(245, 245, 245, 0.768);
}

.about-conquistas{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.about-conquistas-single i{
    color: rgb(119, 0, 255);
    font-size: 35px;
    margin:0 107px 15px ;
}

.about-conquistas-single h2 {
    color: rgba(245, 245, 245, 0.898);
    margin-bottom: 10px;
}

.about-conquistas-single p {
    color: rgba(245, 245, 245, 0.768);
    padding: 0 0 70px;
}

footer.fim {
    width: 100%;
    padding: 5%;    
    background-color: black;
}

.how-text {
    text-align: center;
}

.how-text h2 {
    width: 95%;
    color: rgba(245, 245, 245, 0.768);
    text-transform: capitalize;
}

.how-text p {
    color:rgba(245, 245, 245, 0.768);
    margin-top: 20px;
}